<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <!--Font awesome icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--Custom CSS-->
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div class="container">
      <header >
        <nav>
          
        </nav>            
      </header>