<main class="{{pageMainClass}}">
	<h1>Oops! Something went wrong...</h1>

	<div class="p-3 mb-2 bg-danger text-white" style="text-align: center">
		<span class="errmsg">Try re-entering your information and resubmitting.</span>
		<button onclick="history.back()" class="btn btn-primary">Go Back</button>
		{{!-- <form class="errFrm" action="{{path}}" method="get">
    		<input type="submit" class="btn btn-primary" value="Go Back" name="Submit" id="frm1_submit"></input>
		</form> --}}
	</div>
</main>