<main class="pgMainClass">
	<body>
		<h1>{{msg}}</h1>
		<form id="formSignup" class="formLogin" action="/signup" method="POST">
        	<div class="input_field">
        	    <input type="text" placeholder="First Name" id="fname" name="fname">
        	</div>
        	<div class="input_field">
        	    <input type="text" placeholder="Last Name" id="lname" name="lname">
        	</div>
        	<div class="input_field">
        	    <input type="text" placeholder="Email" id="email" name="email">
        	</div>
        	<div class="input_field">
        	    <input type="text" placeholder="Username" id="username" name="username">
        	</div>
        	<div class="input_field">
        	    <input type="text" placeholder="Password" id="password" name="password">
        	</div>
        	<div class="input_field">
        	    <input type="date" placeholder="00000000" id="dob" name="dob">
        	</div>
        	<div class="input_field">
        	    <input type="text-area" placeholder="What are you working on?" id="projects" name="projects">
        	</div>
        	<input type="submit" value ="Sign Up" class="btnOrange"/>
        </form>
	</body>
</main>
